
$red: #EE5F5B;
$blue: rgba(27, 15, 149, 1);
$yellow: #FDB631;
$orange: #E67E22;
$green: rgba(1, 202, 170, 1);
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
$black: rgba(16, 0, 0, 1);
$blue_sky: rgba(237, 232, 255, 1);
$purple: rgba(136, 89, 255, 1);

