<% content_for(:title) do%>
  Agence web - Création de site internet
<% end %>

<div class="container page-min-height treatout">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h1>Agence web <span id='banner-word'>Bordeaux</span></h1>
      <p>Nous sommes spécialisé dans le développement de site internet sur-mesure.</p>
      <%= link_to 'Quel votre projet ?', new_post_path, class:'btn-cta' %>
    </div>
    <div class="col-12 col-sm-12 col-md-12 offset-md-1 col-lg-5 offset-xl-1 col-xl-5">
      <%= image_tag '1-image.jpg', class:'image'; %>
    </div>
  </div>
</div>
