<% content_for(:title) do%>
  Yourdomain - Accueil
<% end %>

<div class="container page-min-height treatout">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h1>Agence web <span id='banner-word'>Bordeaux</span></h1>
      <p>Nous sommes spécialisé dans le développement de site internet sur-mesure.</p>
      <button type="button" class="btn btn-danger">Quel est votre projet ?</button>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= image_tag '1-image', class:'image'; %>
    </div>
  </div>
</div>
