<% content_for(:title) do%>
  Avocat Bordeaux - Delphine BARTHELEMY MAXWELL
<% end %>

<div class="container page-min-height treatout">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h1>Votre avocat à <span id='banner-word'>Bordeaux</span></h1>
      <p>Droit immobilier, droit du travail ou encore doit blabla, nous répondons à toutes vos questions.</p>
      <%= link_to 'Quel votre projet ?', new_post_path, class:'btn-cta' %>
    </div>
    <div class="col-12 col-sm-12 col-md-12 offset-md-1 col-lg-5 offset-xl-1 col-xl-5">
      <%= image_tag '1-image.jpg', class:'image'; %>
    </div>
  </div>
</div>
