<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <p><%= @post.name %></p>
      <p><%= @post.content %></p>
      <p>
        <% @post.categories.each do |categori| %>
          <%= categori.name %>
        <% end %>
      </p>
    </div>
  </div>
</div>
